.button {
  position: relative;

  display: inline-block;
  width: 100%;
  padding: 0.35em 1em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  touch-action: manipulation;
  border-radius: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
  word-wrap: normal;
  color: #fff;

  background-color: #302683;
  border: 3px solid #302683;
}

.button:hover {
  background-color: #3f3ccb;
  border-color: #3f3ccb;
}

.button:focus {
  background-color: #362a97;
  border-color: #362a97;
}

.button:disabled {
  color: #757575;
  
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  cursor: not-allowed;
}
